@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YekanBakh400";
  src: url("../_fonts/YekanBakh-Regular.eot");
  src: url("../_fonts/YekanBakh-Regular.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/YekanBakh-Regular.woff") format("woff"),
    url("../_fonts/YekanBakh-Regular.woff2") format("woff2"),
    url("../_fonts/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh500";
  src: url("../_fonts/YekanBakh-Medium.eot");
  src: url("../_fonts/YekanBakh-Medium.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/YekanBakh-Medium.woff") format("woff"),
    url("../_fonts/YekanBakh-Medium.woff2") format("woff2"),
    url("../_fonts/YekanBakh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh700";
  src: url("../_fonts/YekanBakh-Heavy.eot");
  src: url("../_fontsYekanBakh-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/YekanBakh-Heavy.woff") format("woff"),
    url("../_fonts/YekanBakh-Heavy.woff2") format("woff2"),
    url("../_fonts/YekanBakh-Heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans400";
  src: url("../_fonts/IRANSansFaNum-Regular.eot");
  src: url("../_fonts/IRANSansFaNum-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansFaNum-Regular.woff") format("woff"),
    url("../_fonts/IRANSansFaNum-Regular.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans500";
  src: url("../_fonts/IRANSansFaNum-Medium.eot");
  src: url("../_fonts/IRANSansFaNum-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansFaNum-Medium.woff") format("woff"),
    url("../_fonts/IRANSansFaNum-Medium.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans700";
  src: url("../_fonts/IRANSansFaNum-Bold.eot");
  src: url("../_fonts/IRANSansFaNum-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansFaNum-Bold.woff") format("woff"),
    url("../_fonts/IRANSansFaNum-Bold.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "IRANSans400";
}

h1 {
  font-size: 24px;
  font-family: "IRANSans700";
  line-height: 26px;
}
h2 {
  font-size: 20px;
  font-family: "IRANSans700";
  line-height: 26px;
}
h3 {
  font-size: 18px;
  font-family: "IRANSans500";
  line-height: 25px;
}
h4,
h5 {
  font-size: 16px;
  font-family: "IRANSans400";
  line-height: 24px;
}
h6 {
  font-size: 14px;
  font-family: "IRANSans400";
  line-height: 22px;
}
a {
  font-size: 14px;
  font-family: "IRANSans400";
  line-height: 24px;
  color: #fc578c;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.filterBtn.activeFilter {
  background-color: white !important;
}

.blogList .loader {
  width: 25px;
  height: 50px;
  display: grid;
  color: #fc578c;
  background: linear-gradient(currentColor 0 0) top/100% 2px,
    radial-gradient(
        farthest-side at top,
        #0000 calc(100% - 2px),
        currentColor calc(100% - 1px),
        #0000
      )
      top,
    linear-gradient(currentColor 0 0) bottom/100% 2px,
    radial-gradient(
        farthest-side at bottom,
        #0000 calc(100% - 2px),
        currentColor calc(100% - 1px),
        #0000
      )
      bottom;
  background-size: 100% 1px, 100% 50%;
  background-repeat: no-repeat;
  animation: l18 4s infinite linear;
}
.blogList .loader::before,
.blogList .loader::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  border: inherit;
  animation: inherit;
}
.blogList .loader::after {
  animation-duration: 2s;
}
@keyframes l18 {
  100% {
    transform: rotate(1turn);
  }
}
h1 {
  font-size: 24px;
  font-family: "IRANSans700";
  line-height: 26px;
}
h2 {
  font-size: 20px;
  font-family: "IRANSans700";
  line-height: 26px;
}
h3 {
  font-size: 18px;
  font-family: "IRANSans500";
  line-height: 25px;
}
h4,
h5 {
  font-size: 16px;
  font-family: "IRANSans400";
  line-height: 24px;
}
h6 {
  font-size: 14px;
  font-family: "IRANSans400";
  line-height: 22px;
}
a {
  font-size: 14px;
  font-family: "IRANSans500";
  line-height: 24px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
.section {
  background-repeat: no-repeat;
  background-size: cover;
}

.activeImgScroll::after {
  transform: scaleY(0) !important;
}

.w-90p,
.w-95p {
  max-width: 1300px;
}
header.pink .searchIcon svg path {
  fill: #434343;
}
.scrollTop.white svg path {
  fill: #434343;
}
.swiper-gallery .swiper-slide-active .IMG,
.swiper-gallery .swiper-slide-active {
  transform: scale(1) !important;
}
.swiper-gallery .swiper-slide-active .IMG img {
  filter: grayscale(0) !important;
}

.swiper-gallery .swiper-slide .IMG {
  transform: scale(0.5);
}
.swiper-gallery .swiper-slide-prev .IMG {
  transform-origin: right;
}
.swiper-gallery .swiper-slide-next .IMG {
  transform-origin: left;
}
.gallery-container .swiper-button-prev,
.gallery-container .swiper-button-next {
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-container .swiper-button-next::after,
.learning-C .swiper-button-next::after,
.gallery-container .swiper-button-prev::after,
.learning-C .swiper-button-prev::after,
.gallery-container .swiper-button-next::before,
.learning-C .swiper-button-prev::before,
.gallery-container .swiper-button-prev::before,
.learning-C .swiper-button-next::before {
  content: none;
}
.gallery-container .swiper-button-next {
  right: 7%;
  top: 46%;
}
.gallery-container .swiper-button-prev {
  left: 7%;
  top: 46%;
}
.blog-C header,
.articleShow header,
.learning-C header,
.eventlist-C header,
.eventShow header {
  background-color: #e8e1e380;
}
.blog-C header a,
.articleShow header a,
.learning-C header a,
.eventlist-C header a,
.eventShow header a {
  color: #181818;
}
.blog-C header .logoWhite,
.articleShow header .logoWhite,
.learning-C header .logoWhite,
.eventlist-C header .logoWhite,
.eventShow header .logoWhite {
  opacity: 0;
  pointer-events: none;
}
.blog-C header .logoDark,
.articleShow header .logoDark,
.learning-C header .logoDark,
.eventlist-C header .logoDark,
.eventShow header .logoDark {
  opacity: 1;
  pointer-events: all;
}
.blog-C header .searchIcon svg path,
.articleShow header .searchIcon svg path,
.learning-C header .searchIcon svg path,
.eventlist-C header .searchIcon svg path,
.eventShow header .searchIcon svg path {
  fill: #181818;
}
.blog-C header,
.articleShow header,
.learning-C header,
.eventlist-C header,
.eventShow header {
  border-bottom: 1px solid #181818;
}
.swiper-gallery .swiper-slide-active .IMG img{
filter: grayscale(0) !important;
  }
 
  .swiper-gallery .swiper-slide .IMG{
    transform: scale(.5);
  
  }
  .swiper-gallery .swiper-slide-prev .IMG{
    transform-origin: right;
  }
  .swiper-gallery .swiper-slide-next .IMG{
    transform-origin: left;
  }
  .gallery-container .swiper-button-prev,
 .gallery-container .swiper-button-next{
   position: absolute;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .gallery-container .swiper-button-next::after,
  .learning-C .swiper-button-next::after,
  .gallery-container .swiper-button-prev::after,
  .learning-C .swiper-button-prev::after,
  .gallery-container .swiper-button-next::before,
  .learning-C .swiper-button-prev::before,
  .gallery-container .swiper-button-prev::before,
  .learning-C .swiper-button-next::before{
    content: none;
  }
  .gallery-container .swiper-button-next{
    right: 7%;
    top: 46%;
  }
  .gallery-container .swiper-button-prev{
    left: 7%;
    top: 46%;
  }
  .blog-C header,
  .articleShow header,
  .learning-C header,
  .eventlist-C header,
  .eventShow header,
  .productShow header{
    background-color: #E8E1E380;
  }
  .blog-C header a,
  .articleShow header a,
  .learning-C header a,
  .eventlist-C header a,
  .eventShow header a,
  .productShow header a{
color: #181818;
  }
  .blog-C header .logoWhite,
  .articleShow header .logoWhite,
  .learning-C header .logoWhite,
  .eventlist-C header .logoWhite,
  .eventShow header .logoWhite,
  .productShow header .logoWhite{
    opacity: 0;
    pointer-events: none;
  }
  .blog-C header .logoDark,
  .articleShow header .logoDark,
  .learning-C header .logoDark,
  .eventlist-C header .logoDark,
  .eventShow header .logoDark,
  .productShow header .logoDark{
    opacity: 1;
    pointer-events: all;
  }
  .blog-C header .searchIcon svg path,
  .articleShow header .searchIcon svg path,
  .learning-C header .searchIcon svg path,
  .eventlist-C header .searchIcon svg path,
  .eventShow header .searchIcon svg path,
  .productShow header .searchIcon svg path{
    fill: #181818;
  }
  .blog-C header,
  .articleShow header,
  .learning-C header,
  .eventlist-C header,
  .eventShow header,
  .productShow header{
    border-bottom: 1px solid #181818;
  }
.articleShow .textContainer .title h2,
.articleShow .textContainer .title h3,
.articleShow .textContainer .title h4,
.articleShow .textContainer .title h5,
.articleShow .textContainer .title h6,
.eventShow .textContainer .title h2,
.eventShow .textContainer .title h3,
.eventShow .textContainer .title h4,
.eventShow .textContainer .title h5,
.eventShow .textContainer .title h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.17px;
  color: #434343;
  font-family: "IRANSans500";
  transform: translateY(3em);
  opacity: 0;
  transition: all 0.4s ease;
}
.articleShow .textContainer .text p,
.eventShow .textContainer .text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23.48px;
  color: #434343;
  font-family: "IRANSans400";
  opacity: 0;
  transform: translateY(3em);
  transition: all .4s ease;
  }
 
  html{
    font-size: unset !important;
  }
  a:hover{
    text-decoration: none !important;
  
  transition: all 0.4s ease;
}

.aboutUs .section10 .gallerySlider .swiper-slide img {
  width: 100%;
  transition: all 0.4s ease;
  transform: scale(0.3) translateY(100px);
}

.aboutUs .section10 .gallerySlider .swiper-slide-active img {
  transform: scale(1) translateY(0);
}
.contactUs header{
  position: relative;
}

.home .section-4 .text p{
font-size: 15px;
font-weight: 400;
line-height: 23.48px;
color: white;
font-family: "IRANSans400";
}
.home .section-4,
.home .section-1,
.home .section-2{
  position: relative;
}

.home .section-4::before,
.home .section-1::before,
.home .section-2::before{
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: #4343433e;
}

.openModal{
  transform: translateY(0)!important;
}
